/Data/
/Plots/
/veloce_reduction.ipynb
/simple_veloce_reduction/__pycache__/
background.ipynb
/docs/
ispec.log
ispec_ccf.ipynb
lc_ccf.ipynb
veloce_trace.ipynb
veloce_wave_calib.ipynb
check_versions.py
__pycache__//Master/
