Master/master_flat_red_230828.fits filter=lfs diff=lfs merge=lfs -text
Master/master_flat_green_230828.fits filter=lfs diff=lfs merge=lfs -text
Master/master_flat_blue_230828.fits filter=lfs diff=lfs merge=lfs -text
